modules = ["python-3.12"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[agent]
expertMode = true

[userenv]

[userenv.shared]
AWS_DEFAULT_REGION = "us-east-2"

[nix]
channel = "stable-25_05"
